
html {
	background-color: #fefefe;
}

body {
	font-family: "Open Sans", Arial;
	color: #454545;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
}

a:link {
	color: #07A;
}

a:visited {
	color: #941352;
}

a:hover {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		text-align: left;
	}
}

